<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Attributes</title>
	<style>
	div {
    		margin-bottom: 15px;
   		padding: 4px 12px;
	}
	.note {
    		background-color: #e87a11;
    		border-left: 6px solid orange;
	}
	.example {
    		background-color: #e87a11;
    		border-left: 6px solid orange;
	}
	.background {
    		background-color: #dedddd;
    		border-left: 6px  #747474;
	}
	</style>
	</head>
	<body>
		<div>
			<h1 align="center">Attributes</h1>
			<hr>
			<div class="background">
				<h2>What are attributes?</h2>
			</div>
			<p><strong>Attributes</strong> provide additional information about an element. They are special words used inside the <b><i>start tag</i></b> to control the element's behaviour. An <strong>attribute</strong> either modifies the default functionality of an element type or provides functionality to certain element types unable to function correctly without them.</p>
			 <div class="note">
				 <p><strong>Remember:</strong> All <strong>HTML</strong> elements can have attributes.</p>
			</div>
			<div class="background">
				<h2>Basic Attribute Types</h2>
			</div>
			<div class="example">
				<ul style="list-style-type:square">
					<li><strong>Required Attributes</strong> - Needed by a particular element type for that element type to function correctly.</li>
					<li><strong>Optional Attributes</strong> - Used to modify the default functionality of an element type.</li>
					<li><strong>Standard Attributes</strong> - Supported by a large number of element types.</li>
					<li><strong>Event Attributes</strong> - Used to cause element types to specify scripts to be run under specific circumstances.</li>
				</ul>
			</div>
			<div class="background">
				<h2>Syntax</h2>
			</div>
			<p><strong>Attributes</strong> usually come in name/value pairs, such as <b>name="value"</b>.</p>
			<p>The <b>name</b> is the property you want to set and <b>"value"</b> is what you want the value of the property to be set and always put within double quotes.</p>
			<div class="example">
				<p><strong>Example:</strong> &lt;a href=&quot;planet.html&quot;&gt; <b>or</b> &lt;h1 align="center"&gt;</p>
			</div>
			<div class="background">
				<h2>Global Attributes</h2>
			</div>
			<p>The following global attributes can be used on <strong>any</strong> HTML element:</p>
			<ul style="list-style-type:square">
				<li><b>acceskey</b></li>
				<li><b>class</b></li>
				<li><b>contenteditable</b></li>
				<li><b>data-*</b></li>
				<li><b>dir</b></li>
				<li><b>draggable</b></li>
				<li><b>dropzone</b></li>
				<li><b>hidden</b></li>
				<li><b>id</b></li>
				<li><b>lang</b></li>
				<li><b>spellcheck</b></li>
				<li><b>style</b></li>
				<li><b>tabindex</b></li>
				<li><b>title</b></li>
				<li><b>translate</b></li>
			</ul>
			<p>&#10145; If you would like to know more about each global attribute mentioned above click <a href="https://www.w3schools.com/tags/ref_standardattributes.asp">here</a>.</p>
			<div class="background">
				<h2>Useful HTML attributes</h2>
			</div>
			<h3>HTML href Attribute</h3>
			<p>For &lt;a&gt; and &lt;area&gt; elements, the href attribute specifies the URL of the page the link goes to.</p>
			<p>For &lt;base&gt; elements, the href attribute specifies the base URL for all relative URLs on a page.</p>
			<p>For &lt;link&gt; elements, the href attribute specifies the location (URL) of the external resource.</p>
			<div class="example">
				<p><strong>&lt;a&gt; Example:</strong> the <strong>href</strong> attribute specifies where the link is going to take you.</p>
				<p>&lt;a href=&quot;your destination URL goes here&quot;&gt;</p>
				<p><strong>&lt;area&gt; Example:</strong> a map of images where you can click on areas.</p>
				<p>&lt;area shape=&quot;desiredShape&quot; coords=&quot;X,Y,Z,W&quot; href=&quot;image.htm&quot; alt=&quot;Image&quot;&gt;</p>
				<p><strong>&lt;base&gt; Example:</strong> specify a base URL for all relative URLs on a particular page.</p>
				<p>&lt;base href=&quot;your specific URL goes here&quot;&gt;</p>
				<p><strong>&lt;link&gt; Example:</strong> link straight to your choice of external stylesheet.</p>
				<p>&lt;link rel=&quot;stylesheetwhatever&quot; type=&quot;text/css&quot; href=&quot;whatevertheme.css&quot;&gt;</p>
			</div>
			<p>Browsers that support the <strong>href</strong> attribute: Chrome, Internet Explorer, Firefox, Safari, and Opera.</p>
			<h3>HTML src Attribute</h3>
			<p>The <strong>src</strong> attribute instructs the browser where on the server it should look for the object that’s to be presented to the user. This may be an object in the same directory, an oject somewhere else on the same server, or even an object stored on another server.</p>
			<h4>Elements which applies to:</h4>
			<ul style="list-style-type:square">
				<li>&lt;audio&gt;</li>
				<li>&lt;embed&gt;</li>
				<li>&lt;iframe&gt;</li>
				<li>&lt;img&gt;</li>
				<li>&lt;input&gt;</li>
				<li>&lt;script&gt;</li>
				<li>&lt;source&gt;</li>
				<li>&lt;track&gt;</li>
				<li>&lt;video&gt;</li>
			</ul>
			<p><strong>Let's take a look at some syntax examples for the following events:</strong></p>
			<div class="example">
				<p><strong>&lt;embed&gt; Example:</strong> an embedded flash animation.</p>
				<p>&lt;embed src=&quot;whateveryouwant.swf&quot;&gt;</p>
				<p><strong>&lt;img&gt; Example:</strong> image of your choice which is marked up.</p>
				<p>&lt;img src=&quot;helloworld.gif&quot; alt=&quot;Hello World&quot;&gt;</p>
				<p><strong>&lt;script&gt; Example:</strong> point to an external JavaScript file.</p>
				<p>&lt;script src=&quot;yourscript.js&quot;&gt;</p>
				<p><strong>&lt;source&gt; Example:</strong> assume there is an mp3 player with two source files. The browser has to choose which file it has support for. Neither is still an option.</p>
				<p>&lt;audio controls&gt;<br> &nbsp; &lt;source src=&quot;hello.ogg&quot; type=&quot;audio/ogg&quot;&gt;<br> &nbsp; &lt;source src=&quot;world.mp3&quot; type=&quot;audio/mpeg&quot;&gt;<br> Your browser does not support the audio element.<br> &lt;/audio&gt;</p>
			</div>
			<p>Browsers that support the <strong>src</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.<strong> For this attribute, it is important to check the browser version before using it</strong>.</p>
			<h3>HTML width Attribute</h3>
			<p>The <strong>width</strong> attribute specifies the width of the element, in pixels.</p>
			<div class="example">
				<p><strong>&lt;embed&gt; Example:</strong> an embedded flash animation with a width and height of 100 pixels.</p>
				<p>&lt;embed src=&quot;youranimation.swf&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;</p>
				<p><strong>&lt;img&gt; Example:</strong> image of your choice which is marked up with a width and height of 100 pixels.</p>
				<p>&lt;img src=&quot;helloworld.gif&quot; alt=&quot;Hello World&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;</p>
				<p><strong>&lt;iframe&gt; Example:</strong> an &lt;iframe&gt; element with a specified width and height of 100 pixels.</p>
				<p>&lt;iframe src=&quot;/default.asp&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;</p>
			</div>
			<p>Browsers that support the <strong>width</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.<strong> For this attribute, it is important to check the browser version before using it</strong>.</p>
			<h3>HTML height Attribute</h3>
			<p>The <strong>height</strong> attribute specifies the height of the element, in pixels.</p>
			<p>In the followig examples, we used 100 pixels for the width and 200 pixels for the height.</p>
			<div class="example">
				<p><strong>&lt;img&gt; Example:</strong> &lt;img src=&quot;yourimage.gif&quot; alt=&quot;Your Image&quot; width=&quot;100&quot; height=&quot;200&quot;&gt;</p>
				<p><strong>&lt;object&gt; Example:</strong> &lt;object data=&quot;youranimation.swf&quot; width=&quot;100&quot; height=&quot;200&quot;&gt;</p>
				<p><strong>&lt;embed&gt; Example:</strong> &lt;embed src=&quot;youranimation.swf&quot; width=&quot;100&quot; height=&quot;200&quot;&gt;</p>
			</div>
			<p>Browsers that support the <strong>height</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.<strong> For this attribute, it is important to check the browser version before using it</strong>.</p>
			<h3>HTML alt Attribute</h3>
			<p>The <strong>alt</strong> attribute provides alternative information for an image if a user for some reason cannot view it. Those reasons include: slow connection, an error in the src attribute, or users using a screen reader.</p>
			<div class="note">
				<p><strong>Remember:</strong> the <strong>alt</strong> attribute is required for the <strong>&lt;img&gt;</strong> element and for  and for <strong>&lt;input&gt;</strong> elements, the <strong>alt</strong> attribute can only be used with <strong>&lt;input type=&quot;image&quot;&gt;</strong>.</p>
			</div>
			<p>Browsers that support the <strong>alt</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.</p>
			<h3>HTML lang Attribute</h3>
			<p>The <strong>lang</strong> attribute is used to identify the language of text content on the web. The most common <strong>lang</strong> attributes are &quot;en&quot; for English, &quot;es&quot; for Spanish, and &quot;fr&quot; for France. Since the <strong>lang</strong> attribute does not make an apparent difference, it is usually forgotten.</p>
			<p>The <strong>lang</strong> attribute is part of the <strong>Global Attributes</strong>, and therefore, can be used on <strong>any</strong> HTML element you wish.</p>
			<div class="example">
				<p><strong>&lt;html&gt; Example:</strong> &lt;html lang=&quot;en&quot;&gt;</p>
				<p><strong>&lt;p&gt; Example:</strong> &lt;p lang=&quot;en&quot;&gt;Some text in English.&lt;/p&gt;</p>
			</div>
			<p>Browsers that support the <strong>lang</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.</p>
			<h3>HTML title Attribute</h3>
			<p>The <strong>title</strong> attribute specifies extra information about an element. It is usually used to provide additional information about a link or an image.</p>
			<p>Since the <strong>title</strong> attribute is part of the <strong>Global Attributes</strong>, it can be used on <strong>any</strong> HTML element you wish.</p>
			<p>A common example of the usage of the HTML <strong>title</strong> attribute would be the following:</p>
			<div class="example">
				<p><strong>Example:</strong> &lt;p title=&quot;Technology Task 1: Foundation&quot;&gt;web.cse.ohio-state.edu&lt;/p&gt;</p>
			</div>
			<p>Browsers that support the <strong>title</strong> attribute include: Chrome, Internet Explorer, Firefox, Safari, and Opera.</p>
			<h3>HTML style Attribute</h3>
			<p>The <strong>style</strong> attribute specifies the style for a particular element of your choice. Since it has &lt;higher&gt; priority, it will override any style set globally, such as styles specified in the <b><i>&lt;style&gt;</i></b> tag or in a possible external style sheet.</p>
			<p>&#10145; You can find out more about style attributes in the <a href="goes to CSS section">CSS section</a>.</p>
			<p><strong>To know what version your browser is, click <a href="https://www.whatsmybrowser.org/">here</a>.</strong></p>
		</div>
	</body>
</html>
