<!DOCTYPE html>
<html>
	<head>
		<title>Attributes</title>
	<style>
	div {
    		margin-bottom: 15px;
   		padding: 4px 12px;
	}
	.note {
    		background-color: #e87a11;
    		border-left: 6px solid orange;
	}
	.example {
    		background-color: #e87a11;
    		border-left: 6px solid orange;
	}
	.background {
    		background-color: #e87a11;
    		border-left: 6px solid orange;
	}
	</style>
	</head>
	<body>
		<div>
			<h1 align="center">Attributes</h1>
			<hr>
			<h2>&#9758; What are attributes?</h2>
			<p><strong>Attributes</strong> provide additional information about an element. They are special words used inside the <b><i>start tag</i></b> to control the element's behaviour. An <strong>attribute</strong> either modifies the default functionality of an element type or provides functionality to certain element types unable to function correctly without them.</p>
			 <div class="note">
				 <p><strong>Remember:</strong> All <strong>HTML</strong> elements can have attributes.</p>
			</div>
			<h2>&#9758; Basic Attribute Types</h2>
			<div class="background">
				<ul style="list-style-type:square">
					<li><strong><i>Required Attributes</i></strong></li>
						<p>Needed by a particular element type for that element type to function correctly.</p>
					<li><strong><i>Optional Attributes</i></strong></li>
						<p>Used to modify the default functionality of an element type.</p>
					<li><strong><i>Standard Attributes</i></strong></li>
						<p>Supported by a large number of element types.</p>
					<li><strong><i>Event Attributes</i></strong></li>
						<p>Used to cause element types to specify scripts to be run under specific circumstances.</p>
				</ul>
			</div>
			<h2>&#9758; Syntax</h2>
			<p><strong>Attributes</strong> usually come in name/value pairs, such as <b><i>name="value"</i></b>.</p>
			<p>The <b><i>name</i></b> is the property you want to set and <b><i>"value"</i></b> is what you want the value of the property to be set and always put within double quotes.</p>
			<div class="example">
				<p><strong>Example</strong>: &lt;a href=&quot;planet.html&quot;&gt; or &lt;h1 align="center"&gt;</p>
			</div>
			<h2>&#9758; Global Attributes</h2>
			<p>The following global attributes can be used on <strong>any</strong> HTML element:</p>
			<div class="example">
				<ul style="list-style-type:square">
					<li><b>acceskey</b></li>
					<li><b>class</b></li>
					<li><b>contenteditable</b></li>
					<li><b>data-*</b></li>
					<li><b>dir</b></li>
					<li><b>draggable</b></li>
					<li><b>dropzone</b></li>
					<li><b>hidden</b></li>
					<li><b>id</b></li>
					<li><b>lang</b></li>
					<li><b>spellcheck</b></li>
					<li><b>style</b></li>
					<li><b>tabindex</b></li>
					<li><b>title</b></li>
					<li><b>translate</b></li>
				</ul>
			</div>
			<p>&#10145; If you would like to know more about each global attribute mentioned above click <a href="https://www.w3schools.com/tags/ref_standardattributes.asp">here</a></p>
			<h2>&#9758; Useful HTML attributes</h2>
			<h3>HTML href Attribute</h3>
			<p>For &lt;a&gt; and &lt;area&gt; elements, the href attribute specifies the URL of the page the link goes to.</p>
			<p>For &lt;base&gt; elements, the href attribute specifies the base URL for all relative URLs on a page.</p>
			<p>For &lt;link&gt; elements, the href attribute specifies the location (URL) of the external resource.</p>
			<div class="example">
				<p><strong>&lt;a&gt; Example</strong>: &lt;a href=&quot;your URL goes here&quot;&gt;</p>
				<p><strong>&lt;area&gt; Example</strong>: &lt;area shape=&quot;rect&quot; coords=&quot;0,0,82,126&quot; href=&quot;whatever.htm&quot; alt=&quot;Whatever&quot;&gt;</p>
				<p><strong>&lt;base&gt; Example</strong>: &lt;base href=&quot;your URL goes here&quot;&gt;</p>
				<p><strong>&lt;link&gt; Example</strong>: &lt;link rel=&quot;stylesheetwhatever&quot; type=&quot;text/css&quot; href=&quot;whatevertheme.css&quot;&gt;</p>
			</div>
			<h3>HTML src Attribute</h3>
			<p>The <strong>src</strong> attribute instructs the browser where on the server it should look for the object that’s to be presented to the user. This may be an object in the same directory, an oject somewhere else on the same server, or even an object stored on another server.</p>
			<h4>Elements which applies to:</h4>
			<ul style="list-style-type:square">
				<li>&lt;audio&gt;</li>
				<li>&lt;embed&gt;</li>
				<li>&lt;iframe&gt;</li>
				<li>&lt;img&gt;</li>
				<li>&lt;input&gt;</li>
				<li>&lt;script&gt;</li>
				<li>&lt;source&gt;</li>
				<li>&lt;track&gt;</li>
				<li>&lt;video&gt;</li>
			</ul>
			<div class="example">
				<p></p>
			</div>
			<h3>HTML width Attribute</h3>
			<p>The <strong>width</strong> attribute specifies the width of the element, in pixels.</p>
			<p></p>
			<div class="example">
				<p></p>
			</div>
			<h3>HTML heigth Attribute</h3>
			<p>The <strong>height</strong> attribute specifies the height of the element, in pixels.</p>
			<div class="example">
				<p><strong>&lt;img&gt; Example</strong>: &lt;img src=&quot;yourimage.gif&quot; alt=&quot;Your Image&quot; height=&quot;50&quot; width=&quot;50&quot;&gt;</p>
				<p><strong>&lt;object&gt; Example</strong>: &lt;object data=&quot;example.swf&quot; height=&quot;200&quot; width=&quot;200&quot;&gt;&lt;/object&gt;</p>
				<p><strong>&lt;embed&gt; Example</strong>: &lt;embed src=&quot;example.swf&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;</p>
			</div>
			<h3>HTML alt Attribute</h3>
			<p>The <strong>alt</strong> attribute provides alternative information for an image if a user for some reason cannot view it (because of slow connection, an error in the src attribute, or if the user uses a screen reader).</p>
			<div class="example">
				<p></p>
			</div>
			<h3>HTML lang Attribute</h3>
			<p>The <strong>lang</strong> attribute specifies the language of the element's content. Common examples are "en" for English, "es" for Spanish, "fr" for France and so on.</p>
			<div class="example">
				<p></p>
			</div>
			<h3>HTML title Attribute</h3>
			<p>The <strong>title</strong> attribute specifies extra information about an element.</p>
			<p>Since the title attribute is part of the <strong>Global Attributes</strong>, it can be used on <strong>any</strong> HTML element you wish.</p>
			<div class="example">
				<p></p>
			</div>
			<h3>HTML style Attribute</h3>
			<p>The <strong>style</strong> attribute specifies an inline style for a particular element. It will override any style set globally, such as styles specified in the <b><i>&lt;style&gt;</i></b> tag or in an external style sheet.</p>
			<p>&#10145; You can find out more about style attributes in the <a href="goes to CSS section">CSS section</a>.</p>
		</div>
	</body>
</html>
