<!DOCTYPE html>
<html>
	<head>
		<title>Attributes</title>
	</head>
	<body>
		<div>
			<h1 align="center">Attributes</h1>
			<hr>
			<h2>What are attributes?</h2>
			<p><strong>Attributes</strong> provide additional information about an element. They are special words used inside the <i>start tag</i> to control the element's behaviour. An <strong>attribute</strong> either modifies the default functionality of an element type or provides functionality to certain element types unable to function correctly without them.</p>
			<p>It is important to remember that ALL <strong>html</strong> elements can have attributes.</p>		
		</div>
	</body>
</html>
